
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page of The Website</title>
</head>
<body>
    {{> header}}
    <h1>{{greeting}}</h1>

    <h3>{{screamIt pageTitle}}</h3>


    <p>{{text}} {{currentYear}}  {{currentDate}}</p>

    
    {{> footer}}
</body>
</html>























